h3 {
    color:rgb(163, 57, 31);
}
.blue-header {
    color :rgb(197, 69, 197);
}
#yellow-text {
    color : rgb(218, 228, 231);
}
.gold-header{
    color :rgb(211, 181, 14);
}
#orange-text{
    color :rgb(226, 32, 26);
}

.container{
     display : 'inline'; 
}
img.align-left {
    float:left;
}



