h1 {
    color:rgb(163, 57, 31);
}
.blue-header {
    color :rgb(15, 39, 116);
}
#yellow-text {
    color : rgb(0, 195, 255);
}
.gold-header{
    color :rgb(49, 141, 40);
}
.metalic-text{
    color :rgb(71, 17, 102);
}
.img-body{
    https://th.bing.com/th/id/OIP.4RA5tIFQomEwWUMeww7RBAHaKM?w=127&h=180&c=7&o=5&dpr=1.5&pid=1.7
}
.container{
     display : 'inline'; 
}
